body
{
  background:#fff;
  font-family:'Lato';
  margin:0;
  padding:0;
}

.food{
    text-align: center;
    color: #e6a157;
  
  }
  img {
    
    height: 200px;
    width: auto;
    display: block;
    margin-left: 37%;
    margin-right: 50$;
    width: 25%;
  
    }
    fieldset{
      text-align:center;
      outline-style:double;
      background-color: #bac7a7;
        
    }
    p {
      font-family: verdana;
      font-size: 20px;
      text-align:center;
    }
   
    
    .dropbtn {
      background-color: #889e81 ;
      color: #e6a157;
      padding: 13px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .dropdown:hover .dropbtn {
      background-color: #3e8e41;
    }
  
    
