
/* Setion INDEX CATEGORIES ACTIVITES + VILLE CULTURELLE */

/* background de la page */

main 
{
	background-color: #e5e4cc;
	margin: 0px;
}

p
{
	font-family: 'Pacifico', cursive;
}


/* mise en page des titres de la section catégorie */

.titre-catégories
{ 
    font-size: 40px;
    display: flex;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    padding-top: 30px;
}

/* mise en page de l'iframe météo */
.meteofrance
{
	display: flex;
	justify-content: flex-end;
	padding-bottom: 20px;
	padding-right: 20px;
}

/* mise en page de la section articles */

.articles
{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  position: relative;
  width: auto;

}


.link-container img
{
	min-width: 280px;
	max-width: 280px;
	min-height: 220px;
	max-height: 220px;
	border-radius : 20px;
}

.link-container
{
	margin: 15px 60px 10px;
	padding: 15px;
	flex: 1 1 20%;
	max-width: 280px;
	height: 220px;
  	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  	background-color: white;
  	border-radius : 20px;
	  	
}

.link-container:hover
{
	height:auto;
  	background-color:#e6a157;
  	transition:all 0.8s;
  	position: relative;
  	transform: scale(1.1);
  	transition: all 0.7s;
  	border-radius : 20px;
}

.link-container:hover .imgactivities
{
 	opacity: 0.3;
 	border-radius : 20px;
}

.textstyle
{	
	visibility: hidden;
	text-decoration-style: none;
  	color: white;
  	position: absolute;
  	font-size: 20px;
  	font-weight: bold;
  	z-index: 2;
  	margin-top: 0px;
}
.link-container:hover .textstyle
{
visibility: visible;
}


.activities-link
{
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration:none;
}

/* mise en page de la section "Ville culturelle" */

.bubble
{
	display: flex;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.bubble-text
{
	background:#bac7a7; 
	color: solid black; 
	padding:7px 15px; 
	border-radius:3px; 
	width:350px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.bubble-text:after
{
	border-left:20px solid transparent;
	border-right:20px solid transparent;
	border-top: 20px solid #bac7a7;
	position: absolute;
}

.bubble-text p
{
	text-align: justify;
}


/* PAGE SPORT */

/* Section Carousel (1ère section) */
div.firstSectionSport {
    max-width: 100%;
	overflow: hidden;
	width: 100%;
}
  div.firstSectionSport figure {
    position: relative;
    width: 505%;
    margin: 0;
    padding: 0;
    text-align: left;
    animation: 8s AutoSlide infinite;
  }
  @keyframes AutoSlide {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -102%; }
    45% { left: -103%; }
    50% { left: -201%; }
    70% { left: -205%; }
    75% { left: -305%; }
    95% { left: -305%; }
    100% { left: 0%; }
  }

  div.firstSectionSport figure img {
    width: 20%;
	height: 700px;
 }


/* Seconde section page sport */

.divMainTitleSport {
	height: 80px;
	background: #889e81;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.divSecondTitleSport {
	height: 70px;
	width: 150px;
	background: #889e81;
	border-radius: 10px;
}

.secondSectionSport {
	width: 100%;
	
	border: 2px #889e81 solid;
	border-radius: 10px;
	background: #e5e4cc;
}

.blocSousSecondTitle {
	margin-top: 40px;
}

.articleSport {
	display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
	padding-top: 2%;
	width: 80%;
}

.firstArticleSport {
	padding-bottom: 5%;
}

.imgsport {
	width: 40%;
	border-radius: 10px;
	margin-top: 30px;
	margin-bottom: 50px;

	-webkit-transform: scale(1.25);
	transform: scale(1.25);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.lienImgSport {
	display: flex;
	justify-content: center;
}

.imgsport:hover {
	-webkit-transform: scale(1);
	transform: scale(1);
}

#mainTitleSport {
	text-align: center;
	background-color: #889e81;
	height: 10%;
	padding-bottom: 3%;
}

#mainTitleSport:hover {
	color: #e6a157;
}

#mainTitleSport, .secondTitleSport, .secondTitleSportQuotidien, .thirdTitleSport {
	text-align: center;
	font-family: 'Pacifico', cursive;
}

.secondTitleSportQuotidien {
	margin-top: 10%;
}

.secondTitleSport {
	margin-bottom: 30px;
}

.secondTitleSportQuotidien:hover, .secondTitleSport:hover {
	color: #e6a157;
}

.descriptionSport {
	width: 400px;
	text-align: justify;
	font-family: 'Bellota', cursive;
}

.divSectionSports {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blocSport {
	display: flex;
	flex-direction: column;
	margin-bottom: 5%;
	align-items: center;
	width: 80%;
}

.mapSports {
	display: none;
}

/* HEADER COMMUN A L'ENSEMBLE DES PAGES HTML */

header {
	background: #889e81;
	display: flex;
	border-bottom: 2px #e6a157 solid;
	margin-bottom: 2%;
}

.navHeader {
	width: 100%;
	display: flex;
}

.ulHeader {
	display: flex;
	align-items: flex-end;
	width: 100%;
	margin-left: 7%;
	padding-top: 20px;
	margin-bottom: 10px;
}

.liHeader {
	list-style: none;
	font-family: 'Bellota', cursive;
	color: #e5e4cc;
	margin-left: 5%;
}

.liHeader a {
	color: #e5e4cc;
	text-decoration: none;
	line-height: 40px;
}

.liHeader a:hover {
	color: #e6a157;
}

.mainTitleHeader {
	position: absolute;
	left: 40%;
	font-family: 'Pacifico', cursive;
	color: #e6a157;
}

.couleurSousHeader {
	background: #bac7a7;
}

.logoHeader {
	margin-left: 10%;
	margin-top: 5%;
	width: 100px;
	height: 100px;
}

/* Responsive HEADER */

@media only screen and (max-width: 800px) {
	nav .ulHeader {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.ulHeader {
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
	margin-right: 80px;
	padding-top: 10px;
}

	header {
		height: 200px;
	}

	main {
		margin-top: 0
	}

	.logoHeader {
		position: absolute;
		margin-left: 6%;
		margin-top: 5%;
		width: 100px;
		height: 100px;
	}

	.mapSports {
		margin-bottom: 20px;
	}
}


/* FOOTER COMMUN A L'ENSEMBLE DES PAGES HTML */

html {
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
}

footer {
	background: #889e81;
	display: flex;
	margin-top: auto;
	height: 5%;
	align-items: center;
	border-top: 3px solid #e6a157;
}


#logoFooter {
	width: 100px;
	height: 100px;
	margin-left: 25%;
}

.navListeFooter {
	width: 70%;
	display: flex;
	margin-left: 15%;
	justify-content: center;
    align-items: center;
}

.listeFooter {
	width: 200px;
	line-height: 40px;
	padding-left: 0;
    margin-left: -30%;
}

.listeFooter a {
	text-decoration: none;
	color: #e5e4cc;
}

.texteFooter {
	font-family: 'Bellota', cursive;
	font-size: 16px;
	color: #e5e4cc;
}

button {
	font-family: 'Bellota', cursive;
}

.texteFooter:hover {
	color: #e6a157;
	font-weight: bold;
}

.listeFooter, .socialNetworks {
	list-style: none;
	text-align: center;
}

.navSocialNetworks {
	width: 100%;
}

#followUs {
	text-align: center;
	margin-top: 5%;
}

.socialNetworks {
	display: flex;
	padding: 0;
	margin-left: 40px
}


.facebook, .twitter, .instagram {
	width: 25px;
	height: 25px;
	margin-right: 30px;
}

#thirdcolumn {
	display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
	width: 70%;
	margin-left: -20%;
}

form {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#research {
	margin-bottom: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}


.caseFooter {
	width: 80%;
	margin-bottom: 5%;
}


/* Media queries Footer */

@media only screen and (min-width: 900px) {
	nav .listeFooter {
		display: flex;
	}

	.navListeFooter {
		width: 100%;
		margin-left: 10%;
	}


	.listeFooter {
		width: 100%;
		padding-left: 0;
		margin-left: 5%;
	}

	.listeFooter li {
		margin-left: 5%;
	}

	#thirdcolumn {
		width: 50%;
	}

}


/*Changer la police d'écriture*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


.introduction{
    text-align: center;
    padding-top: 10px;
    font-size: 17px;
}


.contact-h{
    color: white;
    background-image: url("https://cdn.pixabay.com/photo/2014/04/07/20/27/texture-318907_960_720.jpg");
    width: 100%;
    text-align: center;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
}



#Contact  {
    width: 100%;
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
	padding-top: 20px;
	margin-bottom: 150px;
	font-family: 'Pacifico', cursive;
}

#object
{
	font-family: 'Pacifico', cursive;
}

.Champ-O, h4{
    color: red;
}

.form-M{
    
    background-color:rgba(95, 117, 92, 0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:10px;
	width: 360px;
    margin-top:10px;
    border-style: solid;
    border-radius: 10px;
	border-color: gray;
}

fieldset legend{
    text-align: center;
}


.int{
    color:#3c3c3c;
    font-weight:500;
	font-size: 18px;
	line-height: 22px;
	background-color: #fbfbfb;
	margin-bottom: 10px;
	width:100%;
	box-sizing: border-box;
    border: 2px solid rgb(204, 204, 175);
    padding-left: 50px;
}

div select{
    background-color:rgba(95, 117, 92, 0.4);
    font-weight:500;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid rgb(204, 204, 175);
}
  
  
textarea{
    width: 100%;
    height: 143px; 
    font-size: 18px;  
    padding-left: 50px;
    color:#3c3c3c;
    font-weight:500;
    box-sizing: border-box;
}




/*Insertions des logos*/
#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px -2px;
    background-repeat: no-repeat;
}

#nom{
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 22px;
    background-position: 9px 1px;
    background-repeat: no-repeat;
}

#message{
    background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 26px;
	background-position: 11px 2px;
	background-repeat: no-repeat;
}


#pub{
    width: 10%;
}

#button-M{
	font-family: 'Pacifico', cursive;
    width: 100%;
    height: 60px;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: rgb(81, 129, 81);
	color:white;
	font-size:24px;
	padding-bottom:30px;
	animation: 0.8s;
    margin-top:-4px;
    font-weight:700;
    transition: .3s ease-in-out;
    transition-delay: .35s;
    text-align: center;

}

#button-M:hover{
	background-color: rgba(0,0,0,0);
	color: rgb(39, 82, 39);
}


h4{
    font-size: 10px;
}

/*à modifier si utile pour l'affichage desktop*/
@media screen and (min-width: 480px){
    .form-M{
        width: 80%;
    }

    .contact-h{
        width: 80%;
    }

    .introduction{
        font-size: 20px;
    }


/* Media queries page Sport */

@media only screen and (max-width: 1000px) {
.descriptionSport {
	display: none;
}
}

@media only screen and (min-width: 1000px) {
	.mapSports {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-bottom: 20px;
	}

	.divSectionSports {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.secondArticleSport {
		margin-bottom: 20%;
	}

	.articleSport {
		width: 48%;
	}


}

/* Section Slogan */

#slogan {
	border-radius: 10px;
	max-width: 95%;
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	max-height: 330px;
  	box-shadow: 5px 5px 2px #BAC7A7;
}

.title_slogan {
	font-family: 'Pacifico', cursive;
	text-align: center;
	color: #e6a157;
	font-size: 36px;
}

.parIntro {
	font-family: 'Bellota', cursive;
}