          /* CSS Nature */

/* Joli slogan */

#slogan {
  border-radius: 10px;
  max-width: auto;
  display: block;
  margin-left: auto;
    margin-right: auto;
    max-height: 330px;
    box-shadow: 5px 5px 2px #bac7a7;
}

/* Fin joli slogan */

/* Dropdown "escapades" */

    /* Style The Dropdown Button */

.dropbtnnature {
  background-color: #4CAF50;
  color: white;
  padding: 16px 75px 16px 75px;
  font-size: 32px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin: auto;
}

    /* The container <div> - needed to position the dropdown content */
.dropdownnature {
  position: relative;
  margin: auto;
  padding-right: 0px;
}

    /* Dropdown Content (Hidden by Default) */
.dropdown-contentnature {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 210px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

    /* Links inside the dropdown */
.dropdown-contentnature a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

    /* Change color of dropdown links on hover */
.dropdown-contentnature a:hover {background-color: #f1f1f1}

    /* Show the dropdown menu on hover */
.dropdownnature:hover .dropdown-contentnature {
  display: block;
}

    /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdownnature:hover .dropbtnnature {
  background-color: #3e8e41;
}

/* Fin Dropdown "escapades" */
/* CSS carousel */

div.slidernature {
  max-width: 500px;
  overflow: hidden;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 30px;
}

div.slidernature figure {
	position: relative;
	width: 505%;
	margin: 0;
	padding: 0;
	text-align: left;
	animation: 20s AutoSlide infinite;
}

@keyframes AutoSlide {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -102%; }
	45% { left: -103%; }
	50% { left: -201%; }
	70% { left: -205%; }
	75% { left: -305%; }
	95% { left: -305%; }
	100% { left: 0%; }
}

div.slidernature figure img {
	width: 500px;
	height: 250px;
}

.carouselnature {
  display: flex;
  justify-content: center;
}

/* Fin CSS Carousel */

/* Corps page nature */

.descriptionnature {
  width: 80%;
  text-align: justify;
  margin: auto;
}

.sectionnature {
  width: 90%;
  margin: 5% 5% 5% 5%;
  border: 2px #889e81 solid;
  border-radius: 10px;
  background: #e5e4cc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2 p {
  text-align: center;
	font-size: 8px;
} 

/* Fin corps page nature */

          /* CSS Nature */