html {
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

footer {
  display: flex;
  background: #889e81;
  margin-top: 0;
}

nav .listeFooter {
	list-style: none;
  	justify-content: center;
}

.logoFooter {
  width: 20%;
}