/* Setion INDEX CATEGORIES ACTIVITES + VILLE CULTURELLE */

/* background de la page */

main 
{
	background-color: #e5e4cc;
	margin: 0px;
}

p
{
	font-family: 'Pacifico', cursive;
}


/* mise en page des titres de la section catégorie */

.titre-catégories
{ 
    font-size: 40px;
    display: flex;
    justify-content: center;
    font-family: 'Bellota', cursive;
    padding-top: 30px;
}

/* mise en page de l'iframe météo */
.meteofrance
{
	display: flex;
	justify-content: flex-end;
	padding-bottom: 20px;
	padding-right: 20px;
}

/* mise en page de la section articles */

.articles
{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  position: relative;
  width: auto;

}


.link-container img
{
	min-width: 280px;
	max-width: 280px;
	min-height: 220px;
	max-height: 220px;
	border-radius : 20px;
}

.link-container
{
	margin: 15px 60px 10px;
	padding: 15px;
	flex: 1 1 20%;
	max-width: 280px;
	height: 220px;
  	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  	background-color: white;
  	border-radius : 20px;
	  	
}

.link-container:hover
{
	height:auto;
  	background-color:#e6a157;
  	transition:all 0.8s;
  	position: relative;
  	transform: scale(1.1);
  	transition: all 0.7s;
  	border-radius : 20px;
}

.link-container:hover .imgactivities
{
 	opacity: 0.3;
 	border-radius : 20px;
}

.textstyle
{	
	visibility: hidden;
	text-decoration-style: none;
  	color: white;
  	position: absolute;
  	font-size: 20px;
  	font-weight: bold;
  	z-index: 2;
  	margin-top: 0px;
}
.link-container:hover .textstyle
{
visibility: visible;
}


.activities-link
{
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration:none;
}

/* mise en page de la section "Ville culturelle" */

.titre-culturel
{
	display: flex;
    justify-content: center;
    font-family: 'Bellota', cursive;
}

.bubble
{
	display: flex;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.bubble-text
{
	background:#bac7a7; 
	color: solid black; 
	padding:7px 15px; 
	border-radius:3px; 
	width:350px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.bubble-text:after
{
	border-left:20px solid transparent;
	border-right:20px solid transparent;
	border-top: 20px solid #bac7a7;
	position: absolute;
}

.bubble-text p
{
	text-align: justify;
}





/* PAGE SPORT */

.imgsport {
	width: 40%;
}


/* Section Carousel (1ère section) */
div#slider {
    max-width: 100%;
	overflow: hidden;
	width: 100%;
}
  div#slider figure {
    position: relative;
    width: 505%;
    margin: 0;
    padding: 0;
    text-align: left;
    animation: 8s AutoSlide infinite;
  }
  @keyframes AutoSlide {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -102%; }
    45% { left: -103%; }
    50% { left: -201%; }
    70% { left: -205%; }
    75% { left: -305%; }
    95% { left: -305%; }
    100% { left: 0%; }
  }

  div#slider figure img {
    width: 20%;
	height: 700px;
 }


/* Seconde section page sport */

#mainTitleSport {
	text-align:center;
}

.secondTitleSport {
	text-align:center;
}

.blocSport {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 30px;
}



/* FOOTER COMMUN A L'ENSEMBLE DES PAGES HTML */

html {
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
}

footer {
	background: #889e81;
	display: flex;
	margin-top: auto;
	height: 5%;
	align-items: center;
}


#logoFooter {
	width: 50%;
	margin-left: 25%;
}

.navListeFooter {
	width: 50%;
	margin-left: 20%;
}

.listeFooter {
	line-height: 1.5;
}

.listeFooter, .socialNetworks {
	list-style: none;
	text-align: center;
	margin-left: 30%;
}

#followUs {
	margin-left: 55%;
}

.socialNetworks {
	display: flex;
}


.facebook, .twitter, .instagram {
	width: 20%;
}

.thirdcolumn {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#research {
	margin-left: 40%;
	margin-bottom: 10%;
}
